<% for(var i=0; i<photosets.photoset.length; i++) {%>
    <a url='/album/<%= photosets.photoset[i].id %>' selector='#uu<%=i%>' href="#" title="<%= photosets.photoset[i].title._content %>" class="openalbum pub" >
        <div id="uu<%=i%>" class='oneset oneset_<%= photosets.photoset[i].id %> <%if(photosets.photoset[i].id == photoset_id){%>album-selected<%}%>'>
            <%= photosets.photoset[i].title._content %>
        </div>
     </a>
<% } %>